body{
    text-align: center;
    background-color: #080710;
    color: #ffffff;
}

canvas{
    border: 2px solid black;
    background-image: url(images/grasses68.gif);
}

#talkBox{
    height: 20px;
    color: yellowgreen;
    font-size: 26px;
    font-weight: bold;
}